In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import seaborn as sns
import matplotlib.pyplot as plt

import matplotlib.pyplot as plt
import platform
from matplotlib import font_manager, rc

plt.rcParams['axes.unicode_minus'] = False
if platform.system() == 'Darwin':    # 맥
    rc( 'font', family='AppleGothic' )
elif platform.system() == 'Windows': # 윈도우
    fontPath = 'c:/Windows/Fonts/malgun.ttf'
    fontName = font_manager.FontProperties( fname=fontPath ).get_name()
    rc( 'font', family=fontName )
else:
    print('알수없는 시스템. 미적용')
    
pd.set_option('display.expand_frame_repr', False)
import warnings
warnings.filterwarnings(action='ignore')

In [4]:
kospi_200_items = pd.read_excel('./현대차.xlsx')

In [9]:
data = kospi_200_items.iloc[1:]
data.index = data['Symbol Name']

In [43]:
data['현대차'] = data['현대차'].astype('float64')

In [169]:
data

                  현대차
Symbol Name
2010-01-04   119000.0
2010-01-05   110000.0
2010-01-06   111000.0
2010-01-07   106000.0
2010-01-08   106000.0
2010-01-11   101500.0
2010-01-12   103000.0
2010-01-13   102000.0
2010-01-14   103500.0
2010-01-15   108000.0
2010-01-18   108000.0
2010-01-19   104500.0
2010-01-20   103500.0
2010-01-21   109000.0
2010-01-22   109500.0
2010-01-25   111000.0
2010-01-26   108500.0
2010-01-27   109000.0
2010-01-28   113500.0
2010-01-29   113000.0
2010-02-01   116000.0
2010-02-02   112000.0
2010-02-03   112000.0
2010-02-04   116000.0
2010-02-05   115500.0
2010-02-08   116000.0
2010-02-09   116500.0
2010-02-10   114000.0
2010-02-11   116000.0
2010-02-12   116000.0
...               ...
2016-11-18   129500.0
2016-11-21   133500.0
2016-11-22   133500.0
2016-11-23   134000.0
2016-11-24   135000.0
2016-11-25   136000.0
2016-11-28   135000.0
2016-11-29   134500.0
2016-11-30   133000.0
2016-12-01   132000.0
2016-12-02   133500.0
2016-12-05   134000.0
2016-12-06   136500.0
2016-12-07   136500.0
2016-12-08   142000.0
2016-12-09   144000.0
2016-12-12   144500.0
2016-12-13   145000.0
2016-12-14   143500.0
2016-12-15   142000.0
2016-12-16   139500.0
2016-12-19   142000.0
2016-12-20   143500.0
2016-12-21   143500.0
2016-12-22   142000.0
2016-12-23   144000.0
2016-12-26   144500.0
2016-12-27   144500.0
2016-12-28   143500.0
2016-12-29   146000.0

[1733 rows x 1 columns]

In [123]:
# number : n일이동평균 / back: 몇일 전 이동평균
def making_SMA(data,number,back=0):
    ls = pd.DataFrame(np.zeros(number+back-1))
    
    for place in list(range(len(data)))[number+back-1:]:
        sumation = data['현대차'][list(range(place-number-back+1,place-back+1))].mean()
        sumation = pd.Series(sumation)
        ls = ls.append(sumation,ignore_index=True)
    return ls

In [ ]:
# number : n일이동평균 / back: 몇일 전 이동평균
def making_WMV(data,number,back=0):
    ls = pd.DataFrame(np.zeros(number+back-1))
    
    for place in list(range(len(data)))[number+back-1:]:
        sumation = data['현대차'][list(range(place-number-back+1,place-back+1))]
        sumation2 = (np.array(sumation) * (np.array(range(number))+1)).sum() / (np.array(range(number))+1).sum()
        
        sumation2 = pd.Series(sumation2)
        ls = ls.append(sumation2,ignore_index=True)
    return ls

In [163]:
# number : n일이동평균 / back: 몇일 전 이동평균
def making_cate_revenue(data,forward=0):
    
    the_day_price = data['현대차'][0:len(data)-1-forward]
    next_day_price = data['현대차'][forward+1:]
        
    ls = the_day_price < next_day_price
    ls = ls.append(pd.DataFrame(np.zeros(forward)))
    return ls

In [164]:
making_cate_revenue(data,2)

ValueError: Can only compare identically-labeled Series objects

In [165]:
forward = 0

In [185]:
the_day_price = data['현대차'][:len(data)-1-forward]

In [186]:
next_day_price = data['현대차'][forward+1:]

next_day_price

Symbol Name
2010-01-05    110000.0
2010-01-06    111000.0
2010-01-07    106000.0
2010-01-08    106000.0
2010-01-11    101500.0
2010-01-12    103000.0
2010-01-13    102000.0
2010-01-14    103500.0
2010-01-15    108000.0
2010-01-18    108000.0
2010-01-19    104500.0
2010-01-20    103500.0
2010-01-21    109000.0
2010-01-22    109500.0
2010-01-25    111000.0
2010-01-26    108500.0
2010-01-27    109000.0
2010-01-28    113500.0
2010-01-29    113000.0
2010-02-01    116000.0
2010-02-02    112000.0
2010-02-03    112000.0
2010-02-04    116000.0
2010-02-05    115500.0
2010-02-08    116000.0
2010-02-09    116500.0
2010-02-10    114000.0
2010-02-11    116000.0
2010-02-12    116000.0
2010-02-16    117000.0
                ...
2016-11-18    129500.0
2016-11-21    133500.0
2016-11-22    133500.0
2016-11-23    134000.0
2016-11-24    135000.0
2016-11-25    136000.0
2016-11-28    135000.0
2016-11-29    134500.0
2016-11-30    133000.0
2016-12-01    132000.0
2016-12-02    133500.0
2016-12-05    134000.0
2016-12-06    136500.0
2016-12-07    136500.0
2016-12-08    142000.0
2016-12-09    144000.0
2016-12-12    144500.0
2016-12-13    145000.0
2016-12-14    143500.0
2016-12-15    142000.0
2016-12-16    139500.0
2016-12-19    142000.0
2016-12-20    143500.0
2016-12-21    143500.0
2016-12-22    142000.0
2016-12-23    144000.0
2016-12-26    144500.0
2016-12-27    144500.0
2016-12-28    143500.0
2016-12-29    146000.0
Name: 현대차, Length: 1732, dtype: float64

In [187]:
the_day_price < next_day_price

ValueError: Can only compare identically-labeled Series objects

In [28]:
data['현대차'][list(range(place-number-back+1,place-back+1))

In [171]:
data['현대차'][0:1]

Symbol Name
2010-01-04    119000.0
Name: 현대차, dtype: float64

In [174]:
a = pd.DataFrame([1,2,3])
b = pd.DataFrame([2,1,6])

In [175]:
a>b

       0
0  False
1   True
2  False

In [178]:
a[:3]

   0
0  1
1  2
2  3

In [177]:
len(a)

3

In [36]:
sum([1,2,3])

6

In [81]:
data['현대차'][list(range(2,4))].mean()

108500.0

In [159]:
a=2

In [162]:
if a>2:
    print('a')
else:
    print('b')

b